.oculta {
    display: none;
}

.tarjeta {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-size: 16px;
    /* Tamaño del texto */
    font-family: Arial, sans-serif;
    /* Fuente del texto */
    max-width: 400px;
}

/* Estilo para los botones */
button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-right: 8px;
    padding: 20px;
}

/* Cambiar el color de los botones cuando están deshabilitados */
button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
}

.oculto2 {
    display: none;
}

.oculto3 {
    display: none;
}

.oculto4 {
    display: none;
}

.oculto5 {
    display: none;
}

.flex__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.tarjeta img {
    display: block;
    margin: 0 auto;
}

.c-type__flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}